/* You can add global styles to this file, and also import other style files */

.container-v {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-h {
  margin-top: 4%;
  margin-inline: 4%;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
  width: 100%;
}

.container-b {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}